
    body{
        background-color: rgb(233, 233, 233);
        margin-top: 0;
        margin: 0;
    }


    .bem-vindo {
        color: #000000;
        width: 500px;
        z-index: 103;
        margin-top: -750px;
        right: -90px;
        position: absolute;
    }



    /* elementos */
    .la{
        width: 600px; /* Largura do elemento */
        height: 800px; /* Altura do elemento */
        background: linear-gradient(to right, #0a0a38 0% 15%, #16168f 80% 20%, #1717e0 90% 100%);
    }


    /* cadastro */

    .cads{
        width: 600px; /* Largura do elemento */
        height: 300px; /* Altura do elemento */
        background-color: #0a0a38; 
        position: absolute;
        left: 640px;
        margin-top: -650px;
        border-radius: 50px;
    }

    .cads {
        color: rgb(255, 255, 255);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

