
    body{
        background-color: rgb(233, 233, 233);
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 0;
    }


    .bem-vindo {
        color: #000000;
        width: 500px;
        z-index: 103;
        margin-top: -650px;
        right: -90px;
        position: absolute;
        max-width: 700px;        /* largura máxima do container de texto */
        line-height: 0;       /* espaçamento entre linhas */
        padding: 0;        /* espaçamento interno */
    }



    /* elementos */
    .la{
        width: 600px; /* Largura do elemento */
        height: 700px; /* Altura do elemento */
        background: linear-gradient(to right, #0a0a38 0% 15%, #16168f 80% 20%, #1717e0 90% 100%);
    }

    .medico{
        width: 600px;
        height: 600px;
        position: absolute;
        left: -60px;
        top: 100px;
    }



    /* cadastro */

    .cads{
        width: 600px; /* Largura do elemento */
        height: 300px; /* Altura do elemento */
        background-color: #0a0a38; 
        position: absolute;
        left: 640px;
        margin-top: -550px;
        border-radius: 50px;
    }

    .cads {
        color: rgb(255, 255, 255);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #ema, #senha {
        width: 100px;
        height: 50px;
        margin: 5px;
        border-radius: 20px;
        border: none;
        padding: 0 15px;
        font-size: 30px;
    }
    
    #password, #email {
        width: 250px;
        height: 50px;
        border-radius: 20px;
        border: none;
        padding: 0px 40px;
        font-size: 20px;
    }

    .cads .eye-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
        color: #666;
    }
